 .card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0, 0.1)                                5;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .cardImage{
  border-radius: 50%;
  max-width: 70%;
  height: auto;
  margin-bottom: 8px;
}

.card .cardTitle{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0, 20%);
}

.card .cardText{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0, 30%);
}

.welcome-message{
  font-size: 2.5em;
  background-color: rgb(4, 74, 4);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(219, 14, 14);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-cartegory{
  font-size: 2.5em;
  font-weight:bold ;
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid ;
  background-color: green;
  border-radius: 6px;
}


.list-item,.list-item{
  font-size: 2em;
  list-style: none;
  color: black;
  text-align: center;
  margin: 0;
}

.list-item li:hover{
  background-color: rgb(2, 73, 6);
  color: white;
}

.counter-div{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
 
.count-display{
  font-size: 8em;
  margin-top: 0;
  margin-bottom: 50px;
}

.bttn{
   width: 100px;
   height: 50px;
   font-size: 1.2 em;
   margin: 0 5px;
   background-color: magenta;
   color: black;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   display: inline-block;
   overflow: hidden;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
  font-family: consolas;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0, 20%);
  font-size: 2rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type= "color"]{
  width: 48%;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0, 0, 80%);
}


.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin:2rem;
  background-color: black;
}
.to-do-list h1{
  font-size: 1.7rem;
}

.to-do-list button{
  font-size: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
} 

.add-button{
  background-color: hsl(125, 47%, 54%);
  
}
.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}
.delete-button{
  background-color: hsl(10, 90%, 50%);
  
}
.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}
.move-button{
  background-color: hsl(207, 90%, 64%);
  
}
.move-button:hover{
  background-color: hsl(207, 90%, 44%);
}
 
.to-do-list input[type='text']{
  font-size: 1.6rem;
  padding:10px;
  border: 2px solid hsla(0, 0, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0, 80%, 0.5);
}

.to-do-list ol{
  padding: 0;  
}
.to-do-list li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0, 97%);
  border: 3px solid hsla(0, 0, 85%, 0.75);
  border-radius:5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
  color: white;
}

.delete-button,.move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px; 
}

.clock-body{
  background-image: url(./assets/bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container{
backdrop-filter: blur(8px);
width: 100vw;
padding: 10px 0;
}
.clock{
 color: white;
 font-size: 6rem;
 font-weight: bold;
 font-family: monospace;
 text-align: center;
 text-shadow: 3px 3px 5px red;
}

.outer-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.stopwatch{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family:monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: ;
}